@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Santral-Book";
    src: url("https://db.onlinewebfonts.com/t/2a691bed0d21959bed3b21381e52f07d.eot");
    src: url("https://db.onlinewebfonts.com/t/2a691bed0d21959bed3b21381e52f07d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2a691bed0d21959bed3b21381e52f07d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2a691bed0d21959bed3b21381e52f07d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2a691bed0d21959bed3b21381e52f07d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2a691bed0d21959bed3b21381e52f07d.svg#Santral-Book")format("svg");
}

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: Santral-Book, Arial, Helvetica, sans-serif;
    vertical-align: baseline;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: GowunBatang-Regular;
    font-weight: 500;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
  cursor: pointer;
}

section + section{
  margin-bottom: 2rem;
}

.font-change{
  font-family: GowunBatang-Regular;
  font-weight: 500;
}

span{
  word-break: keep-all;
  white-space: pre-line;
}

.wrap{
  position: relative;
}

.bg-white-contain{
  position: relative;
}

/* header */
#logo{
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 71px;
  transition: opacity 0.3s;
}

@media screen and (max-width:1024px) {
  #logo{
    font-size: 32px;
  }
}

#navbar {
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.3s ease; 
}

#navbar:hover{
  background-color: rgb(255, 255, 255);
  transition: background-color 0.3s ease; 
}

#navbar.nav-hidden {
  transform: translateY(-100%);
  background-color: white;
}

#menu a{
  font-size: 10px;
  text-decoration: none;
  color: #000;
  font-weight: 300;
}

#menu a:hover{
  color: #000;
  font-weight: 600;
}

/* Styles when scrolled */
#navbar.scrolled {
  background-color: white;
}

#logo.hidden {
  display: none;
}
@media screen and (max-width:1024px) {
  #logo.hidden {
    display: block;
    font-size: 47px;
  }
}

/* footer */
footer {
  position: relative;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.tf-image-and-text video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.tf-image{
  position: relative; 
  z-index: 1; 
  overflow: hidden;
}

.tf-image video {
  width: 100%;
  height: auto;
  display: block;
}

.tf-image-and-text {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow: hidden;
}

.tf-image-and-text video {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute; 
  top: 0;
  left: 0;
}

/**** 콘텐츠 영역 ******/

/* 1.버튼 애니메이션 */
.w-full.relative.z-20 {
  position: relative;
  z-index: 100; 
  background-color: white;
  padding-top: 10vh;
}

.view-more-button {
  position: relative;
  overflow: hidden;
  padding: 15px 32px;
  background-color: #fff;
  border: 1px solid black;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
  z-index: 1;
}

@media screen and (max-width:1024px) {
  .view-more-button {
    padding: 12px 32px;
  }
}

.view-more-button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #009cad;
  z-index: -1;
  transition: top 0.4s ease;
}

.view-more-button:hover::before {
  top: 0;
}

.view-more-button:hover {
  color: white;
  border-color: transparent;
}

/* 링크 애니메이션 */
.animated-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #000;
}

.animated-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #009cad;
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.5s ease;
}

.animated-link:hover::after {
  transform: scaleX(0);
}

.se4_items{
  width: 23%;
}

@media screen and (max-width:1024px) {
  .se4_items{
    width: 45%;
  }
}
@media screen and (max-width:640px) {
  .se4_items{
    width: 40%;
  }
}

@media screen and (max-width:639px) {
  .se4_items{
    width: 100%;
  }
}

/* productSlider 슬라이드 */
.productSlider {
  width: 100%;
  height: 500px;
  margin: 30px 0;
  padding-top: 4rem;
}

.productSlider .container {
  padding: 32px 0;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 1s ease-in-out;
}

/* 슬라이드 항목 */
.productSlider  .slide-item {
  min-width: 20%;
  padding: 0 15px;
  text-align: center;
  box-sizing: border-box; 
}

@media screen and (max-width:1024px) {
  .productSlider .slide-item{
    min-width: 44%;
    padding: 0px 5px;
  }
}

.slide-item img {
  width:100%;
}

.slide-item p {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  line-height: 1.35;
  word-break: keep-all;
  white-space: pre-line;
}

/* 페이지네이션 및 스타일 */
.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  width: 100%;
  margin: 16px auto 0 auto;
}

#prevBtn, #nextBtn {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  width: 68px;
  height: 48px;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 16px;
}

#prevBtn:hover, #nextBtn:hover{
  background-color: #fff;
  color: #00bfff;
  box-shadow: -3px 0px 7px #c0c0c0;
  transition: all 0.3s;
  
}

/* 페이지네이션*/
.pagination-line {
  width: 100%;
  height: 2px;
  background-color: #ddd;
  margin: 0 16px;
  position: relative;
}

.pagination-line-fill {
  position: absolute;
  height: 100%;
  background-color: #00bfff;
  width: 0%;
  transition: width 0.5s ease;
}

.menu>span{
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
}